aside#rightCol
  float: right
  width: 30%
  padding-left: 20px
  box-sizing: border-box
  display: block
  &:after
    content: " "
    clear: both
    float: none
  img
    width: 100%
    display: block
    min-height: 200px
    border: 1px solid lightgray

  ul
    padding-left: 25px

  .post
    margin: 24px 0
    padding: 0 0 16px
    border-bottom: 1px solid rgba(0,0,0,.2)
    h4
      margin: 16px 0
      font-size: 16px
      line-height: 1.3em

    a.readmore
      text-decoration: none
      text-transform: uppercase
      font-size: 14px
      color: #749fc5
      font-weight: bold
      &:hover
        color: #2c3e50

