html
body
  margin: 0
  padding: 0

button
  background-color: #749fc5
  padding: 1.4em 1.6em
  border: none
  border-radius: 4px
  color: white
  font-weight: bold
  cursor: pointer
  letter-spacing: 1px
  text-transform: uppercase
  min-width: 150px
  &:hover
    background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%), #749fc5
h1
  font-size: 42px
  color: inherit
  font-weight: 300
  line-height: 1.4em
  margin: 0
  @media (max-width: 960px)
    font-size: 24px
h2
  margin: 1em 0 0
  font-size: 1.4em
  line-height: 1.2em
  font-weight: 500
  border-bottom: 1px solid rgba(0,0,0,.1)
  padding: 4px 0
ul
ol
  li
    padding: .3em 0

.vue-wrapper
  max-width: 960px
  margin: auto
  overflow: hidden
  padding: 30px
  &:after
    content: " "
    clear: both

  nav.bottom-nav
    display: block
    margin: 30px auto 0
    display: flex
    flex-flow: row wrap
    justify-content: center
    align-items: stretch
    a
      box-sizing: border-box
      color: white
      margin: 1%
      float: left
      text-align: center
      background-color: #749fc5
      padding: 20px 30px
      cursor: pointer
      border-radius: 4px
      text-decoration: none
      line-height: 1.4em
      display: flex
      &:hover
        background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%), #749fc5
      span
        margin: auto



article
  padding-right: 30px
  box-sizing: border-box
  display: block
  // max-width: 960px
  width: 70%
  line-height: 1.8em
  float: left
  &#hard
    width: 100%
  p
    // text-indent: 30px
    text-align: justify

  .atention
    background-color: #ffffbf
    padding: 1em 1.5em
    font-size: .9em
    border-left: 4px solid #f3f39f
    text-align: left
    line-height: 1.6em

  .wildcat
    font-size: .8em
    line-height: 1.6em

  table
    width: 100%
    margin: 20px 0
    tr
      &:nth-child(odd)
        background-color: rgba(0,0,0,.04)
      td
        padding: 10px 30px

#app
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: #2c3e50
  font-size: 16px

  header
    position: relative
    text-align: right
    font-size: .8em
    padding: 5px 10px
    background-color: #749fc5
    color: white

    ul
      display: none
      position: absolute
      text-align: left
      margin: 0
      padding: 10px 0
      right: 0
      background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 100%), #749fc5
      li
        list-style: none
        padding: 10px 20px
        cursor: pointer
        &:hover
            background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%), #749fc5

    .logo-container
      display: block
      position: absolute
      left: 0
      top: 0
      height: 100%
      img
        padding: 15px
        display: block
        height: 100%
        box-sizing: border-box



    .contact_info
    .lang-switcher
      font-weight: bold
      position: relative
      display: inline-block
      cursor: pointer
      span
        display: inline-block
        padding: 15px
        text-transform: uppercase

      &:hover
        background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 100%), #749fc5

      &.open
        ul
          display: block


  #top
    height: 100vh
    overflow: hidden
    display: flex
    flex-flow: column nowrap
    justify-content: space-between
    background: radial-gradient(ellipse at center, rgba(255,255,255,0) 1%,rgba(255,255,255,0.04) 26%,rgba(0,0,0,0.16) 100%)

    #gallery
      display: flex
      flex-flow: row nowrap
      justify-content: center
      align-items: center
      .image
        width: 50%
        height: 60vh
        background-size: contain
        background-repeat: no-repeat
        background-position: center
        margin-right: 30px
      .descript
        display: flex
        flex-flow: column nowrap
        justify-content: flex-start
        h1
          text-transform: uppercase
          font-weight: bold
        p
          font-size: 1.2em
          margin-bottom: 3.8em
          margin-top: 0
          padding-right: 14px

  .go-down
    margin: 0 auto 10px
    color: #749fc5
    a
      display: block
      margin: auto
      color: unset
      svg
        display: block
        margin: auto

  .tabs-wrapper
    background-color: #749fc5

  #tabs
    max-width: 960px
    margin: auto
    a
      text-decoration: none
      padding: 20px
      display: inline-block
      font-size: 1em
      color: rgba(0,0,0, .5)
      font-weight: bold
      &:hover
        color: white
      &:active
      &.current
        color: white
        background-color: rgba(255,255,255, .12)
  footer
    margin-top: 24px
    padding: 15px
    text-align: center
    background: #567692
    color: white
    font-size: .8em




@media (max-width: 960px)
  article
    float: none
    width: 100%
  #app
    article
      padding: 0
    #top
      #gallery
        flex-flow: row wrap
        .image
          width: 80%
          margin: 0

@media (max-width: 770px)
  article
    float: none
    width: 100%
    padding: 0

  #app
    #tabs
      text-align: center
      a
        display: block
    #top
      #gallery
        .image
          width: 100%

@media (max-width: 620px)
  #app
    #top
      #gallery
        .image
          background-image: url("../dist/visko_one.png") !important
          background-size: contain
        .descript
          text-align: center
          justify-content: center
          button
            display: none

@media (max-width: 380px)
  #app
    #hard
      table
        tr
          td
            padding: 10px


@media (max-height: 850px) and (max-width: 1130px)
  #app
    font-size: 13px
    #top
      #gallery
        .image
          height: 60vh
        .descript
          height: 40vh
          padding: 20px
          padding-top: 0
          justify-content: center
          padding-bottom: 60px
          box-sizing: border-box
          h1
            margin-top: 0
          p
            font-size: 1.2em
          button
            display: none

